[defaults]
# human-readable stdout/stderr results display
#  see. https://github.com/ansible/ansible/issues/27078
stdout_callback = yaml
# alternatively, set environment variable
# export ANSIBLE_STDOUT_CALLBACK=yaml

inventory = ./hosts
